<%- include("../partials/header") %>
<div class="container">
    <h1 class="text-center text-success">Edit Your Food Entry</h1>
    <div class="seeker-form">
        <form action="/food/<%=food._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="dish-name"><h5>Dish Name</h5></label>
                <input class="form-control" id="dish-name" name="food[dish]" value="<%=food.dish%>" type="text">
            </div>
            <div class="form-group">
                <label for="image"><h5>Image</h5></label>
                <input class="form-control" id="image" name="food[image]" value="<%=food.image%>" type="text">
            </div>
            <div class="form-group">
                <label for="price"><h5>Price</h5></label>
                <input class="form-control" id="price" name="food[price]" min="0.00" step="0.01" type="number" value="<%=food.price%>">
            </div>
            <div class="form-group">
                <label for="restaurant"><h5>Restaurant</h5></label>
                <input class="form-control" id="restaurant" name="food[restaurant]" value="<%=food.restaurant%>" type="text">
            </div>
            <div class="form-group">
                <label for="website"><h5>Website</h5></label>
                <input class="form-control" id="website" name="food[website]" value="<%=food.website%>" type="text">
            </div>
            <div class="form-group">
                <label for="location"><h5>Location</h5></label>
                <input class="form-control" id="location" type="text" name="location" value="<%=food.location%>">
            </div>
            <div class="form-group">
                <label for="review"><h5>Review</h5></label>
                <textarea class="form-control" id="review" name="food[review]"><%=food.review%></textarea>
            </div>
            <div class="form-group">
                <button style="width: 30%; margin: auto;" class="btn btn-lg btn-success btn-block">Update</button>
            </div>
        </form>
    </div>
</div>
<%- include("../partials/footer") %>