<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-9 mb-3">
            <div class="card" style="width: 90%;">
                <img class="card-img-top" src="<%= food.image %>" alt="Card img cap">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4 class="text-info"><%= food.dish %></h4>
                            <h5 class="text-success">for $<%=food.price%></h5>
                            <div class="d-flex flex-row">
                                <h2 class="text-secondary"><a href="<%=food.website%>">@ <u><%= food.restaurant%></u></a></h2>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 border-right px-0">
                                                <h4 class="card-title text-info">
                                                    <a href="/users/<%=food.author.id%>"><%=food.author.username%></a>
                                                </h4>
                                                <image src="<%=food.author.photo%>" style="width: 90%; max-width: 9em"></image>
                                                <div>
                                                    <span
                                                        class="text-secondary"><strong><%=food.author.location%></strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row d-flex justify-content-end">
                                                    <% if(currentUser && food.author.id.equals(currentUser._id)){ %>
                                                    <a href="/food/<%=food._id%>/edit"
                                                        class="btn btn-outline-warning mr-2">Edit</a>
                                                    <%}%>
                                                    <% if(currentUser && food.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                                    <form class="delete-button"
                                                        action="/food/<%=food._id%>?_method=DELETE" method="POST">
                                                        <button class="btn btn-outline-danger button">Delete</button>
                                                    </form>
                                                    <%}%>
                                                </div>
                                                <div class="row d-flex mt-2 ml-2">
                                                    <p class="text-secondary"><em>Submitted on
                                                            <%=food.createdAt.toDateString()%></em>
                                                    </p>
                                                </div>
                                                <div class="row pt-0 p-4">
                                                    <p>
                                                        <%= food.review%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active btn btn-success"  style="white-space: normal;" data-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample"><u><%= food.restaurant%></u>
                </li>
                <div class="lis-group-item collapse" id="collapseExample">
                    <div class="card card-body"><%=food.location%></div>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="card col-md-8 px-0">
            <div class="card-header bg-primary text-white font-weight-bold">
                Discussions
            </div>
            <div class="my-3 d-flex justify-content-end mr-4">
                <a href="/food/<%=food._id%>/comments/new" class="btn btn-outline-primary">Comment</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <% food.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 border-right">
                                        <h5 class="card-title text-info">
                                            <a href="/users/<%=comment.author.id%>"><%=comment.author.username%></a>
                                        </h5>
                                        <image src="<%=comment.author.photo%>" style="max-width: 8em; width: 90%;"></image>
                                        <div>
                                            <span class="text-secondary"><strong><%=comment.author.location%></strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row d-flex justify-content-end mt-2">
                                            <p class="comment-date">
                                                <em><%=comment.createdAt.toDateString()%></em>
                                            </p>
                                        </div>
                                        <div class="row d-flex justify-content-end">
                                            <% if(currentUser && comment.author.id.equals(currentUser.id)) {%>
                                            <a href="/food/<%=food._id%>/comments/<%=comment._id%>/edit"
                                                class="btn btn-outline-warning btn-sm mr-2">Edit</a>
                                            <%}%>
                                            <% if(currentUser && comment.author.id.equals(currentUser.id) || currentUser && currentUser.isAdmin) {%>
                                            <form class="delete-button"
                                                action="/food/<%=food._id%>/comments/<%=comment._id%>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-outline-danger btn-sm">Delete</button>
                                            </form>
                                            <%}%>
                                            </div>
                                            <div class="row pt-0 p-4">
                                                <p><%=comment.text%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <%})%>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= food.lat %>;
        var lng = <%= food.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
        <strong><%= food.dish %><br />
        <%= food.location %></strong>
        <p><%= food.review %></p>
      `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMC7WIm7Hk8QBrXUbtxa1hlxpHYCp8zx8&callback=initMap" type="text/javascript"></script>

<%- include("../partials/footer") %>